body
    background-color: #000000
    position: relative
*
    font-family: 'Roboto' sans-serif
    margin: 0 auto
    padding: 0 auto


nav
    height: 50px
    background-color: $primary_color
    display: flex
    align-items: center
    justify-content: center
.header_menu
    padding-left: 0px
    margin-bottom: 0px
    display: flex
    justify-content: space-between
    &_item
        list-style: none
        &_a
            color: #ffffff
            font-size: 24px
            text-transform: uppercase
.subheader
    height: 150px
    background-color: $primary_color_alpha
    z-index: 999

.aboutchess
    height: 950px
    width: 100%
    background: url(../img/bg/chess_main_bg.jpg) no-repeat center
    position: relative
    bottom: 150px
    z-index: -20